    /* Common style */
    @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Monoton&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Monoton&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Monoton&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        outline: none;
        text-decoration: none;
        list-style: none;
        font-family: 'Baloo Da 2', cursive;
    }

    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    .container {
        overflow-x: hidden;
    }


    .section-heading {
        font-family: 'Roboto', sans-serif;
        font-size: 10rem;
        color: #222;
        font-weight: 300;
        margin-right: 4rem;
    }

    .section-heading-line {
        width: 15rem;
        height: .2px;
        background-color: #111;
    }


    /* End Of Common style */

    /* navbar */
    .navbar {
        width: 100%;
        height: 8rem;
        background-color: rgba(0,0,0,0.9);
        position: fixed;
        top: -8rem;
        z-index: 10;
        padding: 3rem;
        transition: height .5s;
        animation: animateNavbar 1s .5s forwards;
    }

    @keyframes animateNavbar {
        0% {
            top: -8rem;
        }

        100% {
            top: 0rem;
        }
    }

    .logo {
        position: absolute;
        top: 1rem;
        left: 2rem;

    }

    .logo a {
        font-family: 'Roboto', sans-serif;
        font-size: 2.5rem;
        color: #fff;
        letter-spacing: .1rem;
    }
    .logo span {
        font-family: 'Roboto', sans-serif;
        font-size: 3.5rem;
        color: #9b0e0e;
        letter-spacing: .1rem;
        font-weight: 700;
    }

    .nav-list {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        visibility: hidden;
        opacity: 0;
        transition: all .2s;
        
        
    }

    .navbar.change {
        height: 100vh;
    }

    .change .nav-list {
        opacity: 1;
        visibility: visible;
        transition: all .7s .5s;
    }

    .nav-link {
        font-family: "Comic Neue", cursive;
        font-weight: 900;
        font-size: 4rem;
        letter-spacing: .1rem;
        color: #eee;
        text-transform: uppercase;
        transition: all .3s;
    }

    .nav-link:hover {
        color: #9b0e0e;
        
    }

    /* End Of navbar */

    /* Menu */
    .menu {
        width: 4rem;
        height: 4rem;
        right: 4rem;
        top: 2rem;
        position: fixed;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
    }

    .line {
        width: 4rem;
        height: .2rem;
        background-color: #eee;
        transition: all .5s;
    }

    .change .line-1 {
        transform: translate(100%, 1rem) rotate(-35deg);
        transform-origin: right;
    }

    .line-1 {
        width: 50%;
    }

    .line-3 {
        width: 50%;
        margin-left: auto;
    }

    .change .line-3 {
        transform: translateY(-1rem) rotate(35deg);
        transform-origin: right;
    }
    /* End Of Menu */

    /* Section 1 */
    .section-1 {
        width: 100%;
        height: 100vh;
        background: url(images/dark-bg.jpeg) no-repeat;
        background-size: cover;
        position: relative;
    }

    .banner {
        width: 100%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .banner-heading {
        margin-bottom: 5rem;
        height: 20rem;
        perspective: 50rem;
        overflow: hidden;
    }





    .banner-heading span {
        font-family: 'Oswald', sans-serif;
        font-size: 12rem;
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        text-shadow: .3rem .3rem .6rem rgba(0,0,0,0.5);
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }

    @keyframes animateHeading {
        0% {
            transform: translateZ(8rem);
            opacity: 0;
            letter-spacing: 3rem;
        }

        3% {
            transform: translateZ(0);
            opacity: 1;
            letter-spacing: 1.5rem;
        }

        25% {
            transform: translateZ(0);
            opacity: 1;
            letter-spacing: 1.5rem;
        }

        28% {
            transform: translateZ(8rem);
            opacity: 0;
            letter-spacing: 3rem;
        }

        100% {
            transform: translateZ(8rem);
            opacity: 0;
            letter-spacing: 3rem;
        }
    }

    .heading-1 {
        animation: animateHeading 12s 3s infinite;
    }
    .heading-2 {
        animation: animateHeading 12s 6s infinite;
    }
    .heading-3 {
        animation: animateHeading 12s 9s infinite;
    }
    .heading-4 {
        animation: animateHeading 12s 12s infinite;
    }


    .banner-paragraphy {
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;
        background-color: rgba(0,0,0,0.6);
        color: #fff;
        width: 50%;
        margin: 0 auto 0 auto;
        padding: 1rem 0;
        box-shadow: 1rem 1rem 1rem 2rem rgba(0,0,0,0.5); 
        visibility: hidden;
        opacity: 0;
        animation: fadeAnimation 1s 1.5s forwards;
    }

    @keyframes fadeAnimation {
        0% {
            opacity: 0;
            visibility: hidden;
        }
        100% {
            opacity: 1;
            visibility: visible;
        }
    }

    .banner-btn {
        position: relative;
        width: 30rem;
        height: 6rem;
        background: linear-gradient(to right, #9b0e0e, #7a1010);
        color: #fff;
        font-size: 2rem;
        text-transform: uppercase;
        border-radius: 3rem;
        border: .1rem solid #800505;
        margin-top: 10rem;
        box-shadow: 1rem 2rem 3rem rgba(0,0,0,0.5);
        text-shadow: .6rem .3rem .2rem rgba(0,0,0,0.4);
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        animation: fadeAnimation 1s 1.5s forwards;
        transition: all .5s;
        overflow: hidden;
    }

    .banner-btn:hover::before {
        left: 100%;
    }

    .banner-btn::before {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, transparent, #fff, transparent);
        position: absolute;
        top: 0;
        left: -100%;
        transform: skewX(30deg);
        transition: all .5s;
    }
    /* End Of Section 1 */


    /* Section 2 */

    .section-2 {
        width: 100%;
        height: 100vh;
        background-color: #888;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 5rem;
    }




    .video-wrapper {
        width: 70rem;
        height: 40rem;
        position: absolute;
        top: 2rem;
        right: 15rem;
        box-shadow: 2rem 2rem 5rem rgba(0,0,0,0.7);
        overflow: hidden;
    }

    .video-bar-wrapper {
        width: 100%;
        height: .8rem;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
    }

    .video-bar {
        height: 100%;
        width: 0;
        background-color: #d30819;
        transition: all .2s linear;
    }

    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .3;
        transition: opacity .3s;
    } 

    .video.change-video {
        opacity: 1;
    }

    .controls {
        width: 100%;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        bottom: 0;
        transform: translateY(calc(100% - .4rem));
        transition: all .5s;
    }

    .video-wrapper:hover .controls {
        transform: translateY(0);
    }

    .buttons {
        padding: 1rem 1rem 1rem 1rem;
    }  

    .buttons button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .buttons i {
        font-size: 2rem; 
        color: #fff;
    }

    .section-2-paragraphy {
        width: 70rem;
        position: absolute;
        font-family: "Poppins", sans-serif;
        bottom: 2rem;
        right: 15rem;
        font-size: 1.6rem;
        color: #111;
        font-weight: 400;
        border-top: .3rem double #aaa;
        border-bottom: .3rem double #aaa;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: .3rem .3rem 1rem rgba(0,0,0,0.7);
        line-height: 1.5;
    } 


    .fa-quote-left {
        font-size: 4rem;
        margin-bottom: 2rem;
        align-self: flex-start;
    }

    .fa-quote-right {
        font-size: 4rem;
        margin-top: 2rem;
        align-self: flex-end;
    }



    /* End Of Section 2 */


    /* Section 3 */
    .section-3 {
        width: 100%;
        height: 100vh;
        display: flex;
        background-color: #03070e;
        align-items: center;
        padding-left: 10rem;
    }
    .pricing-cards-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 5rem;
    }

    .line-pricing {
        background-color: #ddd;
    }

    .pricing-card {
        width: 24rem !important;
        height: 45rem !important;
        background-color: #181b1d;
        border-radius: 1rem;
        box-shadow: 2rem 2rem 6rem rgba(0,0,0,0.7);
        /* transform: rotateY(180deg); */
    }

    .pricing-card-front {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .pricing-card-heading {
        font-size: 2rem;
        font-weight: 300;
        color: #ddd;
        font-family: "Poppins", sans-serif;
        display: flex;
        padding: 1rem 0 0 2rem;
        width: 100%;
        height: 5rem;
    }

    .heading-free {
        background: linear-gradient(to right,#087285, #0da5d3);
        border-radius: 1rem 1rem 0 0 ;
    }
    .heading-basic {
        background: linear-gradient(to right,#946809, #bdba0e);
        border-radius: 1rem 1rem 0 0 ;
    }
    .heading-standard {
        background: linear-gradient(to right,#a10c14, #a23b3b);
        border-radius: 1rem 1rem 0 0 ;
    }
    .heading-premium {
        background: linear-gradient(to right,#0b7e48, #2be286);
        border-radius: 1rem 1rem 0 0 ;
    }

    .pricing-card-price {
        font-family: "Wix Madefor Text", sans-serif;
        font-size: 7rem;
        color: #fff;
    }


    .list-free {
        color: #0da5d3;
    }
    .list-basic {
        color: #bdba0e;
    }
    .list-standard {
        color: #b23e3b;
    }
    .list-premium {
        color: #3be286;
    }

    .pricing-card-list i {
        font-size: 1.8rem;
        width: 3rem;
    }

    .pricing-card-list li {
        margin-bottom: .5rem;
    }

    .pricing-card-list span {
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: .1rem;
        font-family: "Roboto", sans-serif;
    }

    .pricing-card-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        letter-spacing: .1rem;
        font-size: 1.6rem;
        width: 18rem;
        height: 5rem;
        margin-bottom: 2rem;
        border-radius: 3rem;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        color: #fff;
        box-shadow: .3rem .3rem .6rem rgba(0,0,0,0.5);
    }

    .btn-free {
        background-color: #0da5d3;
    }
    .btn-basic {
        background-color: #bdba0e;
    }
    .btn-standard {
        background-color: #b23e3b;
    }
    .btn-premium {
        background-color: #3be286;
    }

    .pricing-card-back {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotateY(180deg);
        border-radius: 1rem;
    }

    .back-free {
        background: linear-gradient(to right,#087285, #0da5d3);
        border-radius: 1rem 1rem 0 0 ;
    }
    /* .back-basic {
        background: linear-gradient(to right,#946809, #bdba0e);
        border-radius: 1rem 1rem 0 0 ;
    }
    .back-standard {
        background: linear-gradient(to right,#a10c14, #a23b3b);
        border-radius: 1rem 1rem 0 0 ;
    }
    .back-premium {
        background: linear-gradient(to right,#0b7e48, #2be286);
        border-radius: 1rem 1rem 0 0 ;
    } */

    .pricing-card-back a {
        font-family: "Roboto", sans-serif;
        color: #fff;
        font-size: 1.6rem;
    }
    /* End Of Section 3 */


    /* Section 4 */

    .section-4 {
        width: 100%;
        height: 100vh;
        background-color: #171718;
        display: flex;
        align-items: center;
        padding: 0 10rem;
    }

    .contact-heading {
        color: #ddd;
    }
    .contact-line {
        background-color: #ddd;
    }

    .contact-wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contact-details {
        display: flex;
        /* gap: 4rem; */
        margin-bottom: 8rem;
    }

    .contact-details div {
        width: 25rem;
        text-align: center;
    }

    .contact-details i {
        font-size: 5rem;
        color: #7a1010;
    }

    .contact-details h3 {
        font-size: 2.4rem;
        font-family: 'Roboto', sans-serif;
        margin: 2rem 0;
        color: #ccc;
    }

    .contact-details p {
        font-size: 1.6rem;
        color: #aaa;
    }

    .contact-wrapper h1 {
        font-size: 4rem;
        color: #ccc;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    .contact-form {
        width: 70rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 1.5rem;
        background-color: #444;
        color: #eee;
        border: none;
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: .1rem;
        font-family: 'Poppins',sans-serif;
    }

    .contact-form textarea {
        max-width: 100%;
        min-height: 5rem;
        max-height: 15rem;
    }

    .contact-form input[type='submit'] {
        background-color: #7a1010;
        cursor: pointer;
        transition: all .5s;
    }
    .contact-form input[type='submit']:hover {
        background-color: #5f0303;
        cursor: pointer;
    }

    /* End Of Section 4 */

    /* footer */

    .footer {
        width: 100%;
        height: 12rem;
        background-color: #202122;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10rem;
    }

    .footer-nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .footer-nav a {
        font-family: 'Poppins',sans-serif;
        font-size: 2rem;
        color: #ccc;
        transition: all .5s;
    }
    .footer-nav a:hover {
        font-family: 'Poppins',sans-serif;
        font-size: 2rem;
        color: #862323;
    }

    .copyright-paragraphy {
        font-family: 'Poppins',sans-serif;
        font-size: 2rem;
        color: #ccc;
    }

    /* end of footer */

    /* Responsive */

    @media(max-width: 1700px) {
        .video-wrapper {
            width: 70rem;
            height: 40rem;
            right: 10rem;
        }

        .section-2-paragraphy {
            width: 70rem;
            right: 10rem;
        }

        .section-3.line-pricing {
            margin-right: 3rem;
        }
    }


    @media(max-width: 1450px) {
        html {
            font-size: 50%;
        }
        .video-wrapper {
            width: 60rem;
            height: 35rem;
            right: 10rem;
        }

        .section-2-paragraphy {
            width: 60rem;
            right: 10rem;
        }
        .line-pricing {
            display: flex;
        }
        .contact-line {
            display: none;
        }
    }

    @media(max-width: 1035px) {
        html {
            font-size: 45%;
        }
        .section-heading-line {
            display: none;
        }

        .banner-heading span {
            font-size: 10rem;
        }

        .banner-paragraphy {
            width: 50rem;
            font-size: 3rem;
        }

        .section-2,
        .section-3,
        .section-4 {
            flex-direction: column;
        }


        .video-wrapper {
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            
        }
        .section-2-paragraphy {
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            border: none;
        }
        .pricing-card {
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
        }

        .section-3 {
            height: auto;
            padding: 5rem 0 10rem 0;
        }

        .section-3 .section-heading {
            margin-bottom: 4rem;
        }

        .swiper-container {
            width: 100% !important;
        }


        .section-4 {
            gap: 10rem;
        }

        .contact-wrapper {
            gap: 10rem;
        }
    }

    @media(max-width: 800px) {
        html {
            font-size: 40%;
        }
        .section-2-paragraphy {
            top: 60%;
            
        }

        .contact-form {
            width: 50rem;
        }

        .contact-wrapper {
            gap: 5rem;
        }

        
    }

    @media(max-width: 584px) {
        html {
            font-size: 35%;
        }

        .footer {
            padding: 0 5rem;
        }

        .footer-nav a {
            font-size: 1.2rem;
        }
        .copyright-paragraphy {
            font-size: 1.2rem;
        }

        .contact-form {
            width: 30rem;
        }
        .contact-details {
            width: 40rem;
            gap: 1.5rem;
        }

        .phone h3 {
            font-family: 'Poppins',sans-serif;
            font-size: 5rem;
        }

        .phone p {
            font-family: 'Poppins',sans-serif;
            font-size: 2rem;
        }
        .address h3 {
            font-family: 'Poppins',sans-serif;
            font-size: 5rem;
        }

        .address p {
            font-family: 'Poppins',sans-serif;
            font-size: 2rem;
        }
        .email h3 {
            font-family: 'Poppins',sans-serif;
            font-size: 5rem;
        }

        .email p {
            font-family: 'Poppins',sans-serif;
            font-size: 2rem;
        }

        .section-2 {
            padding: 0 5rem;
            height: 70vh;
        }

        .video-wrapper {
            width: 40rem;
            height: 20rem;
            right: 10rem;
        }

        .section-2-paragraphy {
            width: 40rem;
            right: 10rem;
            
        }

        .contact-wrapper h1 {
            font-family: 'Poppins',sans-serif;
        }
        .banner-paragraphy {
            font-family: 'Poppins',sans-serif;
        }
    }
    /* End Of Responsive */